.containerGastos .claseImpar{
    background: #5a1a1a;
    color: #f2e6e6; 
    padding: 1rem;
}

.containerGastos .clasePar{
    background: #7a1f2e; 
    color: #f2e6e6;
    padding: 1rem;
}

.containerGastos {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-left: 30vw;
    box-sizing: border-box;
    font-size: 1.5em;
    margin-bottom: 5vh;
}
  
.fila-titulos, .clasePar, .claseImpar {
    display: flex;
    justify-content: space-between;
}
  
.fila-titulos div, .clasePar div, .claseImpar div {
    flex: 1;
    text-align: center;
}