.containerIngresos .claseImpar{
    background: #1a5a45; 
    color: #f2e6e6; 
    padding: 1rem;
}

.containerIngresos .clasePar{
    background: #1f7a54; 
    color: #f2e6e6;
    padding: 1rem;
}

.containerIngresos {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-left: 30vw;
    box-sizing: border-box;
    font-size: 1.5em;
    margin-bottom: 5vh;
}
  
.fila-titulos, .clasePar, .claseImpar {
    display: flex;
    justify-content: space-between;
}
  
.fila-titulos div, .clasePar div, .claseImpar div {
    flex: 1;
    text-align: center;
}

@media (max-width: 968px) {
    .containerIngresos{
        width: 80vw;
        margin-left: 10vw;
    }
}