.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 2;
}
  
.modal-content, .modalAdv {
    background-color: #1e252e;
    width: 40%;
    padding: 2rem;
    border-radius: 1rem;
    transition: 0.2s all ease;
}
  
.modal-content h2, .modalAdv h2 {
    margin-top: 0;
    color: #f3f8fc;
    text-align: center;
    font-weight: 650;
    font-size: 2em;
    user-select: none;
}

.modalAdv button{
    width: 100%;
} 

.modalAdv .btnCerrarModal {
    background: transparent;
    border: transparent solid 1px;
    color: #f3f8fc;
    transition: 0.2s all ease;
    font-size: 2em;
    font-weight: 600;
    width: 4rem;
    height: 4rem;
}

.modalAdv .btnCerrarModal:hover{
    color: #c90000;
    border: #ac00004b solid 1px;
    box-shadow: #c9000096 0.0rem 0.1rem 0.2rem 0.0rem;
    border-radius: 50%;
    font-family: 650;
}

.aLaDerechaConGrid{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.aLaDerechaConGrid .btnCerrarModal{
    grid-column: 20;
    padding: 0;
}
/*
Color morado cool: 
#646cff;
*/

.btnReiniciarJuegoBadEnding{
    width: 100%;
    transition: all 0.18s ease-in-out; 
    background-size: 100% 200%;
    background-position: 0 100%;
    background-image: linear-gradient(to bottom, #da3633 50%, #1a1a1a 50%); 
    border: 1px solid #da3633;
}

.btnReiniciarJuegoBadEnding:hover{
    border: 1px solid #da3633;
    background-position: 0 0%; 
}

.btnReiniciarJuegoGoodEnding{
    width: 100%;
    transition: all 0.18s ease-in-out; 
    background-size: 100% 200%;
    background-position: 0 100%;
    background-image: linear-gradient(to bottom, #646cff 50%, #1a1a1a 50%); 
    border: 1px solid #646cff;
}

.btnReiniciarJuegoGoodEnding:hover{
    border: 1px solid #646cff;
    background-position: 0 0%; 
}

.gridConfiguracion{
    display: grid; 
    grid-template-columns: 40% 60%;
    row-gap: 0.5rem;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.gridConfiguracion img{
    height: 100%;
}

.gridConfiguracion .github{
    grid-column: 1 / span 2;
}

.gridConfiguracion .github img{
    border-radius: 50%;
    transition: ease all 0.2s;
}

.gridConfiguracion .github img:hover {
    box-shadow: 0px 0px 15px 0px rgba(83, 157, 255, 0.336);
}

.gridInterruptor{
    display: grid;
    width: 100%;
    text-align: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 20% 60% 20%;
}

.selectContainer{
    width: 100%;
}

.selectConfig{
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 100%;
}

.span{
    font-weight: 700;
    color: #c90000;
}

.input{
    width: 97%;
    padding: 0.4rem;
}

@media (max-width: 968px) {
    .modal-content, .modalAdv {
        background-color: #1e252e;
        width: 70vw;
        padding: 2rem;
        border-radius: 1rem;
        transition: 0.2s all ease;
    }
      
    .modal-content h2, .modalAdv h2 {
        margin-top: 0;
        color: #f3f8fc;
        text-align: center;
        font-weight: 650;
        font-size: 3vh;
        user-select: none; /* Impedir el seleccionamiento del texto en las modales*/
    }
    .gridConfiguracion img{
        height: 5vh;
    }
}