.gridNavBar{
    width: 99vw;
    display: grid;
    grid-template-columns: 28% 63% 9%;
    justify-content: center;
    align-items: center;
    background: #2b2b2b;
}

.gridNavBar .imgConfig{
    width: 100%;
    align-self: center;
    transition: all 0.2s;
    cursor: pointer;
}

.gridNavBar .imgConfig:hover{
    background: #353535;
}

Link{
    height: 100%;
}

.gridLogoContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100%;
    display: grid;
    align-items: center;
    transition: all 0.3s;
    color: #f3f3f3;
}

.gridLogoContainer:hover{
    background: #353535;
    text-shadow: 0px 3px 5px #585858;
}

.gridLogoContainer img {
    width: 100%;
}

@media (max-width: 968px) {
    .gridNavBar{
        display: grid;
        grid-template-columns: 60% 20% 20%;
    }

    .gridLogoContainer{
        grid-template-columns: 30% 70%;
        padding: 0.5em;
    }

    .titleNavbar{
        font-size: 1.2em;
    }
}