.formulario{
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 40vw;
    margin-left: 30vw;
    background: #383838;
    border-radius: 2em 2em 2em 2em;
    box-shadow: rgba(92, 92, 92, 0.2) 0px 3px 9px;
    padding: 2em;
    box-sizing: border-box;
}

.formulario p, .formulario label{
    font-size: 1.5em;
    text-align: center;
    user-select: none;
}

.formulario .input{
    box-sizing: border-box;
    width: 100%;
    font-size: 1.5em;
    padding: 0.5em;
}

.contenerLink{
    display: grid;
    grid-template-columns: 80% 20%;
}

.linkMenor{
    font-size: 1.5em;
    text-align: right;
}

.checkBoxRecurrente{
    width: 1.5em;
    height: 1.5em;
}

@media (max-width: 968px) {
    .formulario{
        width: 80vw;
        margin-left: 10vw;
    }
}