:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
a {
  text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}
  
h1 {
    font-size: 3.2em;
    line-height: 1.1;
    text-align: center;
}

h2, h3{
  text-align: center;
}
  
button {
    padding: 0.6em 1.2em;
    font-size: 3vh;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
}

.contenerBotonesMainPage{
    width: 60vw;
    margin-left: 20vw;
    margin-top: 2rem;
}

.fechaActual{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 3vh;
}

.fechaActual .Btn{
    margin-top: 0;
}

.espacio{
  height: 5vh;
}

/* Estilos para el contenedor de la tabla */
.formulario {
  width: 100%; 
}

/* Estilos para la tabla */
table {
  width: 100%; 
  border-collapse: collapse; 
  margin-top: 20px; 
  font-size: 2.5vh;
}

th, td {
  border: 1px solid #9046ff; 
  text-align: center; 
  padding: 1rem; 
}

.tdBtn .Btn{
  margin-top: 0;
  margin: 0;
}

/* Estilos para las cabeceras de la tabla */
th {
  background-color: #2b0568; /* Color de fondo para las cabeceras */
  color: #dfdfdf; 
}

/* Estilos para mejorar la visualización en dispositivos móviles */
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  table td {
    display: block;
    text-align: right;
    font-size: 15px;
    border-bottom: 1px dotted #ccc;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}

.centrar10{
  display: grid;
  grid-template-columns: 46% 8% 46%;
}